body {
            background: #f6f7fb;
        }

        .sidebar {
            width: 240px;
            height: 100vh;
            background: white;
            position: fixed;
            border-right: 1px solid #ddd;
            padding: 20px;
        }

        .sidebar a {
            display: block;
            margin: 12px 0;
            font-size: 16px;
            color: #333;
            text-decoration: none;
        }

        .sidebar a:hover {
            color: #0d6efd;
        }

        .main {
            margin-left: 260px;
            padding: 30px;
        }

        .saldo-box {
            background: white;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        }

        .jenis-card {
            background: rgb(35, 165, 35);
            padding: 20px;
            border-radius: 12px;
            text-align: center;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
            cursor: pointer;
            transition: .2s;
            color: white;
        }

        .jenis-card:hover {
            transform: translateY(-3px);
        }

        .jenis-icon {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
        }